.cart-button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: rgb(0, 0, 0); /* Белый текст */
    padding: 10px 20px; /* Отступы */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
}

.cart-button:hover {
    background-color: #45a049; /* Темнее при наведении */
}
