

.card-list .card-img {
    width: 350px;
}

.card-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list .card {
    margin:10px;
    border: none
}

.card-content-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-content{
    display: flex;
    align-items: center;
}

.card-price {
    color: rgb(255, 0, 0);
}


.title{
    margin:20px 10px;
    text-align: center;
}